<form class="game-form"
      autocomplete="off"
      (ngSubmit)="submitForm()">
  <div class="form-floating mb-3">
    <input class="form-control"
           type="text"
           id="name"
           formControlName="name"
           placeholder="Name" required>
    <label for="name">Name</label>
  </div>

  <!-- Conditional div for rendering errors -->
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
       class="alert alert-danger">
    <div *ngIf="name.errors?.['required']">
      Name is required.
    </div>
  </div>

  <button class="btn btn-primary"
          type="submit"
          [disabled]="gameForm.invalid">
    Add
  </button>
</form>
